header{

    padding: 50px;
    background-color: #CAD8D8;
    text-align: center;

}
#qatar{
  max-width: 10%;
  max-height: 10%;

}
#logo{
    background-color: #CAD8D8;
    text-align: center;
    margin-top: 10px;
}
nav{

    display: flex;
    flex-direction: rom;
    background-color: #333;
}

nav a{
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}

.row{
    display: flex;
    flex-wrap: wrap;

}

aside{
    flex:30px;
    background-color: beige;
    padding: 20px;

}

section{
  font-family: arial;
  flex:70%;
  background-color: #636767;
  page-break-after: 20px;
}

section div{

  background-color: white;
}
footer{
    color: white;
    padding: 20px;
    text-align: center;
    background-color: black;
}
aside img:hover{
  width:200px;
  height: 200px;
}
aside img {

  max-width: 50%;
  max-height: 50%;
}
